/* Basisstijl voor het menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:cornflowerblue;
  float: right; 
  height: 1400px;
}

/*menu item*/
li a {
  position: relative;
  background-color:cornflowerblue;
  color: black;
  padding: 8px 16px;
  text-align: left;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

/* Submenu stijl */
.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 100%; /* Zorgt ervoor dat het submenu naar links uitklapt */
  background-color: #444;
  min-width: 150px;
}

/* Stijl voor submenu items */
.submenu-item {
  padding: 10px;
  color: white;
}

.dropdown:hover .submenu {
  display: block;
}

.dropdown:hover .submenu-item:hover {
  background-color: #555;
}

/*Achtergrond*/ 
body 
  {  
    background-color: steelblue;
  
  }

  /*Titel van de pagina*/ 
  h1
  {
    text-align: center;
    text-transform: serif;
    color: black;
    border: 1px solid black;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  a:hover, a:active 
{
  background-color:steelblue;
}

li a:hover:not(.active) {
  background-color: steelblue;
  color: black;}