/*Achtergrond*/ 
body 
  {  
    background-color: steelblue;
  
  }

  /*menu*/ 
  ul 
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:cornflowerblue;
    float: right; 
    height: 1400px;
  }
  
  /* Submenu stijl */
.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 100%; /* Zorgt ervoor dat het submenu naar links uitklapt */
  background-color: cornflowerblue;
  min-width: 150px;
}

/* Stijl voor submenu items */
.submenu-item {
  padding: 8px 16px;
  color: black;
}

  li a 
  {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  /*erover heen met muis verandert kleur*/ 
  li a:hover:not(.active) {
    background-color: steelblue;
    color: black;}

    /*Titel van de pagina*/ 
    h1
    {
      text-align: center;
      text-transform: serif;
      color: black;
      border: 1px solid black;
      background-color: whitesmoke;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    }

#paragraaf1 
{
  background-color: royalblue;
  color:white
}
h2
{
  font-weight: bold;
  color:white
}
   
#paragraaf2
{
  background-color: royalblue; 
  color:white
}

#paragraaf3
{
  background-color: royalblue; 
  color:white
}

#paragraaf4
{
  background-color: royalblue; 
  color:white
}

a:link, a:visited 
{
  background-color: cornflowerblue;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active 
{
  background-color:steelblue;
}

img
{
  float:right
}

#footer
{
  background-color: royalblue; 
  color:white
}
/* les */
.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}
.third-level-menu > li:hover { background: #CCCCCC; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.second-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.top-level-menu > li:hover { background: #CCCCCC; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }