/*Achtergrond*/ 
body {  
  background-color: steelblue;
}

/* Verticaal menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: cornflowerblue;
  float: right; 
  height: 1400px;
}

li {
  position: relative; /* Nodig voor het submenu */
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Hover effect op menu items */
li a:hover:not(.active) {
  background-color: steelblue;
  color: black;
}

/* Submenu dat naar links uitschuift */
ul .submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none; /* Verberg het submenu standaard */
  position: absolute;
  top: 0;
  right: 100%; /* Laat het submenu naar links uitschuiven */
  background-color: cornflowerblue;
  width: 150px;
  padding: 20px 16px;
  height: auto;
}

/* Submenu-items */
ul .submenu li a {
  background-color: cornflowerblue;
  padding: 8px 16px;
}

/* Toon het submenu bij hover over het hoofdmenu-item */
li:hover .submenu {
  display: block;
}

/* Hover effect op submenu items */
ul .submenu li a:hover {
  background-color: steelblue;
}

/* Titel van de pagina */
h1 {
  text-align: center;
  text-transform: serif;
  color: black;
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 20px;
}

#paragraaf1, #paragraaf2, #paragraaf3, #paragraaf4 {
  background-color: royalblue;
  color: white;
}

h2 {
  font-weight: bold;
  color: white;
}

/* Stijl voor links */
a:link, a:visited {
  background-color: cornflowerblue;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: cornflowerblue;
}

/* Afbeelding uitlijning */
img {
  float: right;
}

/* Voettekst stijl */
#footer {
  background-color: royalblue; 
  color: white;
}